
.icon-home:before { content: '\e800'; } /* '' */
.icon-network:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-list-alt:before { content: '\e804'; } /* '' */
.icon-th-large:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-data-science:before { content: '\f016'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-github-circled-1:before { content: '\f054'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-users-1:before { content: '\f064'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-graduation-cap-1:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-spread:before { content: '\f527'; } /* '' */