body {
  background-color: rgba(238, 237, 237, 1);
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 200;
  height: hsl(360, 100%, 100%);
}

/**************************************** CONTENT **/
#content {
  /* background-color: rgba(27,67,123,1); */
  border: solid 4px #201003;
  border-radius: 23px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-flow: wrap;
}

#background23 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ***************************************************** HEADER */
h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 1px 3px grey;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 1px 3px grey;
}

.chain_borders {
  font-size: 30px;
  color: grey;
  text-align: center;
  padding: 30px;
  /* border-top: solid 4px #9dacbf; */
}

#header {
  /* padding: 10px; */
  /* margin-top: 2em; */
  /* width: 73%; */
  /* margin-top: 40px; */
  /* margin-left: 12%; */
  background-color: grey;
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* align-items: baseline; */
}

.top_bar {
  /* margin-right: -70px; */
  margin-bottom: 20px;
  width: 90%;
  text-align: center;
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  /* margin-right: -17%; */
  /* padding-left: 375px; */
  /* background-color: #3d5f8a; */
  color: #201003;
  opacity: 94%
}

/* .top_bar:hover
{
  color: #201003;
  color: #3d5f8a;
  text-decoration: none;
} */
.tile_home_icon {
  /* border-radius: 7px;
border: solid 3px rgba(238,237,237,1); */
  /* margin-top: 40px; */
  /* margin-right: 90px; */
  /* padding-top: 10px; */
  color: #2a8cbf;
  font-weight: bolder;
  /* background-color: red; */
  margin-left: 140%;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.tile_home_icon:hover {
  color: #9dacbf;
  text-decoration: none;
}

.home_txt {
  padding-left: 5px;
  font-size: 17px;
  font-weight: 600;
}

/****************************** CONTAINERS Left+Right **/
#leftC {
  /* background-color: #c47e16; */
  /* padding: 10px 20px; */
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
  width: 480px;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  /* order: 2; */
}

#rightC {
  /* background-color: red; */
  /* padding: 10px 20px; */
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
  width: 40%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* order: 1; */
}

/**************************** TILES **/
.tile_homepage {
  border-radius: 10px;
  border: solid 5px #201003;
  width: 120px;
  height: 120px;
  margin: 20px;
  padding-top: 17px;
  color: #201003;
  text-shadow: 1px 1px 3px grey;
  /* background-color: #3d5f8a; */
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.tile_homepage:hover {
  border-radius: 10px;
  border: solid 6.5px grey;
  color: grey;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 2px 1px rgba(238, 237, 237, 1);
}

.tile_home {
  border-radius: 10px;
  /* border: solid 5px #201003; */
  width: 120px;
  height: 120px;
  margin: 20px;
  padding-top: 17px;
  color: #201003;
  text-shadow: 1px 1px 3px grey;
  /* background-color: #3d5f8a; */
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.tile_home:hover {
  border-radius: 10px;
  /* border: solid 6.5px grey; */
  color: grey;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 2px 1px rgba(238, 237, 237, 1);
}

/* .tiles
{
border-radius: 10px;
border: solid 4px rgba(238,237,237,1);
width: 180px;
height: 140px;
margin: 20px;
padding-top: 17px;
color: rgba(238,237,237,1);

font-size: 20;
text-align: center;
font-weight: bolder;

display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}

.tiles:hover
{
  border-radius: 10px;
  border: solid 4px rgba(238,237,237,1);
  color: rgba(238,237,237,1);
  text-decoration: none;
} */
.tile_dim23 {
  /* border-radius: 10px; */
  /* border: solid 4.2px #201003; */
  color: #201003;
  text-shadow: 1px 1px 2px #201003;
  /* border-radius: 10px;
  border: solid 4px rgba(238,237,237,1);
  color: rgba(238,237,237,1); */
  width: 120px;
  height: 120px;
  margin: 20px;
  padding-top: 17px;
  font-size: 16px;
  text-align: center;
  /* font-weight: bolder; */
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.tile_dim:hover {
  border-radius: 10px;
  border: solid 4px grey;
  color: grey;
  text-shadow: 1px 1px 2px grey;
  text-decoration: none;
}

/* ------------------ */
.quote_box {
  /* background-color: green; */
  width: 85%;
  /* color: #175f8d; */
  padding-right: auto;
  padding-left: auto;
  padding-top: 18px;
  text-align: center;
  font-weight: bold;
  /* background-color: #3d5f8a; */
  text-shadow: 2px 1px 3px grey;
  border-radius: 5%;
  padding: 20px;
  opacity: 85%
}

.img_jordan {
  height: 342px;
  width: 300px;
  border-radius: 10px;
  border: solid 3.2px #201003;
  /* margin-top: 30px; */
}

.tile_rightC {
  /* background-color: yellow; */
  border-radius: 10px;
  /* border: solid 4px #201003; */
  width: 92%;
  height: 91%;
  margin: 20px;
  padding: 17px;
  color: #201003;
  font-size: 17px;
  text-align: justify;
  font-weight: bolder;
  line-height: 130%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.icon_tile_title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 50px;
  text-align: center;
}

.horizontal_line {
  border-top: solid 2.3px grey;
  color: rgba(238, 237, 237, 1);
}

/************************* SCROLLBAR **/
.scroll_bar {
  width: 120%;
  padding-left: 35px;
  overflow: hidden;
  overflow: auto;
  font-size: 17px;
  font-weight: 400;
}

.scroll_bar::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(238, 237, 237, 1);
  border-radius: 10px;
}

.scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/************************* SCROLLBAR_contactbox **/
.scroll_bar_contactbox {
  width: 120%;
  padding-right: auto;
  margin-left: auto;
  overflow: hidden;
  overflow: auto;
  font-size: 17px;
  font-weight: lighter;
}

.scroll_bar_contactbox::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(238, 237, 237, 1);
  border-radius: 10px;
}

.scroll_bar_contactbox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.scroll_bar_txt {
  font-size: 17px;
  /* font-weight: bold; */
  /* display: flex; */
  /* justify-content: flex-start;
  align-items: flex-start; */
  padding-right: 25px;
  text-align: justify;
  line-height: 1.3;
}

.email_txt {
  font-size: 20px;
  padding: 7px;
}

#emailAddress {
  width: 95%;
  font-size: 23px;
  padding: 5px;
}

#message {
  width: 95%;
  font-size: 23px;
  padding: 7px;
}

#mail_btn {
  font-size: 23px;
  padding: 7px;
}

.google_scholar_txt {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.google_scholar_txt:hover {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.google_scholar {
  color: #3d5f8a;
  text-decoration: none;
}

.google_scholar:hover {
  color: grey;
  text-decoration: none;
}

/* ****************** */
.tile_contact {
  width: auto;
  height: auto;
  margin: 10px;
  padding-top: 12px;
  /* color: #3d5f8a; */
  /* font-weight: bolder; */
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/***************** LINKS BOX & ICONS */
.contact_logos {
  height: 120px;
  /* background: red; */
  margin-top: 58px;
  border-bottom: solid 4px #9dacbf;
  border-top: solid 4px #9dacbf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-flow: wrap;
}

.icon-google:hover {
  color: #9dacbf;
}

.icon-linkedin:hover {
  color: #9dacbf;
}

.icon-twitter:hover {
  color: #9dacbf;
}

.icon-github-circled:hover {
  color: #9dacbf;
}

/** FOOTER **/
#footer {
  margin-bottom: 7px;
  margin-left: 28.5%;
  padding-top: 7em;
  padding-bottom: 1em;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #201003;
  /* position: fixed; */
  bottom: 0;
}

#footer23 {

  margin-left: 28.5%;
  padding-top: 7em;
  padding-bottom: 1em;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #201003;
  /* position: fixed; */
  bottom: 0;
}



.footer_txt {
  text-decoration: none;
}

.footer_txt:hover {
  color: grey;
  font-size: 14.5px;
  text-decoration: none;
  /* background-color: red; */
}

.git {
  font-size: 14.5px;
}

/* .dawid_ramilowski
{
  font-size: 14px;
  font-style: normal;
}

.dawid_ramilowski:hover
{
  font-size: 14.5px;
  font-style: italic;
} */
/******************************** MediaQ */
/* ------------------------------------------------------------------- */
@media all and (min-width: 2000px) and (max-width: 3841px) {
  #content {
    background-color: rgba(238, 237, 237, 1);
    border: none;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    margin-top: -2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #leftC {
    /* background-color: #c47e16; */
    /* padding-right: 230px; */
    /* margin-right: 180px; */
    margin-top: 210px;
    width: 17%;
    /* width: 480px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    /* order: 2; */
  }

  #rightC {
    /* background-color: pink; */
    /* padding: 10px 20px; */
    /* padding-top: 50px; */
    /* margin-left: 0px; */
    margin-right: 70px;
    /* margin-bottom: 50px; */
    margin-top: 15px;
    width: 75%;
    height: 100%;
    /* width: 480px;
   height: 570px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* order: 1; */
    align-self: baseline;
  }

  .quote_box {
    /* background-color: green; */
    width: 75%;
    height: 90%;
    height: 120px;
    margin: 20px;
    color: #201003;
    padding-top: 12px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    font-size: 23px;
  }

  .img_jordan {
    height: 40%;
    width: 25%;
    border-radius: 10px;
    /* border: solid 3.4px #3d5f8a; */
    margin-top: 20px;
  }

  /* .tile_home_icon {
    margin-left: -144%;
    color: #201003;
    font-weight: bolder;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-self: baseline;
  } */
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 50px 0 5px 0;
  }

  /* TILES ******************************************* */
  .tile_homepage {
    border-radius: 15px;
    color: #201003;
    width: 120px;
    height: 120px;
    margin: 20px;
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_homepage:hover {
    border-radius: 12px;
    border: solid 6px grey;
    color: grey;
    text-decoration: none;
    font-size: 16px;
  }

  .tile_dim {
    border-radius: 15px;
    border: solid 4px grey;
    color: grey;
    width: 120px;
    height: 120px;
    margin: 20px;
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_rightC {
    /* background-color: yellow; */
    /* border: solid 4px #3d5f8a; */
    width: 83%;
    height: 91%;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 135%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .icon_tile_title {
    font-weight: bold;
    font-size: 28px;
    padding-top: 30px;
    text-shadow: 1px 1px 2px grey;
  }

  /************************* SCROLLBAR **/
  .scroll_bar {
    width: 120%;
    height: 950px;
    padding-right: 15px;
    margin-top: 32px;
    overflow: hidden;
    overflow: auto;
  }

  .scroll_bar::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .scroll_bar_txt {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.3;
  }

  /************************* SCROLLBAR_contactbox **/
  .scroll_bar_contactbox {
    width: 90%;
    overflow: hidden;
    overflow: auto;
    font-size: 28px;
  }

  .scroll_bar_contactbox::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar_contactbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .email_txt {
    font-size: 35px;
    padding: 7px;
  }

  #emailAddress {
    width: 95%;
    font-size: 23px;
    padding: 5px;
  }

  #message {
    width: 95%;
    font-size: 23px;
    padding: 7px;
  }

  #mail_btn {
    font-size: 23px;
    padding: 7px;
  }

  .google_scholar_txt {
    font-size: 26px;
    text-decoration: none;
    text-align: center;
  }

  .google_scholar_txt:hover {
    font-size: 25.5px;
    text-decoration: none;
  }

  .google_scholar {
    /* color: #9dacbf; */
    text-decoration: none;
  }

  .google_scholar:hover {
    color: grey;
  }

  #footer {
    margin-bottom: 7px;
    margin-left: 22%;
    /* margin-right: 30%; */
    padding-top: 1em;
    padding-bottom: 1em;
    ;
    /* padding-bottom: 55px; */
    width: 72%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #201003;
    bottom: 0;
  }

  #footer23 {
    margin-bottom: 7px;
    margin-left: 22%;
    /* margin-right: 30%; */
    padding-top: 20em;
    padding-bottom: 1em;
    ;
    /* padding-bottom: 55px; */
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #201003;
    bottom: 0;
  }



  .footer_txt {
    color: #201003;
    text-decoration: none;
  }

  .footer_txt:hover {
    color: grey;
    font-size: 14.5px;
    text-decoration: none;
  }
}

/* ------------------------------------------------- */
@media all and (min-width: 1024px) and (max-width: 1999px) {
  #content {
    background-color: rgba(238, 237, 237, 1);
    border: none;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    margin-top: -2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #leftC {
    /* background-color: #c47e16; */
    /* padding: 10px 20px; */
    margin-right: 23px;
    /* margin-top: 20px; */
    width: 15%;
    /* width: 480px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    /* order: 2; */
  }

  #rightC {
    /* background-color: pink; */
    /* padding: 10px 20px; */
    /* padding-top: 50px; */
    /* margin-left: 0px; */
    margin-right: 70px;
    /* margin-bottom: 50px; */
    margin-top: 65px;
    width: 75%;
    height: 100%;
    /* width: 480px;
   height: 570px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* order: 1; */
    align-self: baseline;
  }

  .quote_box {
    /* background-color: green; */
    width: 75%;
    height: 90%;
    height: 120px;
    margin: 20px;
    color: #201003;
    padding-top: 12px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    font-size: 23px;
  }

  .img_jordan {
    height: 60%;
    width: 35%;
    border-radius: 10px;
    /* border: solid 3.4px #3d5f8a; */
    margin-top: 20px;
  }

  /* .tile_home_icon {
    margin-left: -144%;
    color: #201003;
    font-weight: bolder;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-self: baseline;
  } */
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 50px 0 5px 0;
  }

  /* TILES ******************************************* */
  .tile_homepage {
    border-radius: 15px;
    color: #201003;
    width: 120px;
    height: 120px;
    margin: 20px;
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_homepage:hover {
    border-radius: 12px;
    border: solid 6px grey;
    color: grey;
    text-decoration: none;
    font-size: 16px;
  }

  .tile_dim {
    border-radius: 15px;
    border: solid 4px grey;
    color: grey;
    width: 120px;
    height: 120px;
    margin: 20px;
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_rightC {
    /* background-color: yellow; */
    /* border: solid 4px #3d5f8a; */
    width: 83%;
    height: 91%;
    /* margin: 20px; */
    /* margin-top: 10px; */
    padding-bottom: 30px;
    text-align: justify;
    line-height: 135%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .icon_tile_title {
    font-weight: 500;
    font-size: 35px;
    padding-top: 20px;
    text-shadow: 1px 1px 2px grey;
  }

  /************************* SCROLLBAR **/
  .scroll_bar {
    width: 120%;
    height: 950px;
    padding-right: 15px;
    /* padding-top: 45px; */
    margin-top: 32px;
    overflow: hidden;
    overflow: auto;
  }

  .scroll_bar::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .scroll_bar_txt {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.3;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* padding-right: 30px; */
  }

  /************************* SCROLLBAR_contactbox **/
  .scroll_bar_contactbox {
    width: 90%;
    overflow: hidden;
    overflow: auto;
    font-size: 28px;
    /* font-weight: lighter; */
    /* display: flex; */
    /* justify-content: center; */
  }

  .scroll_bar_contactbox::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar_contactbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .email_txt {
    font-size: 25px;
    padding: 7px;
  }

  #emailAddress {
    width: 95%;
    font-size: 20px;
    padding: 5px;
  }

  #message {
    width: 95%;
    font-size: 20px;
    padding: 7px;
  }

  #mail_btn {
    font-size: 23px;
    padding: 7px;
    border-radius: 10px;
  }

  .google_scholar_txt {
    font-size: 26px;
    text-decoration: none;
    text-align: center;
  }

  .google_scholar_txt:hover {
    font-size: 25.5px;
    text-decoration: none;
  }

  .google_scholar {
    /* color: #9dacbf; */
    text-decoration: none;
  }

  .google_scholar:hover {
    color: grey;
  }

  #footer {
    margin-bottom: 7px;
    margin-left: 22%;
    /* margin-right: 30%; */
    padding-top: 1em;
    padding-bottom: 1em;
    ;
    /* padding-bottom: 55px; */
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #201003;
    bottom: 0;
  }

  #footer23 {
    margin-bottom: 7px;
    margin-left: 22%;
    /* margin-right: 30%; */
    padding-top: 20em;
    padding-bottom: 1em;
    ;
    /* padding-bottom: 55px; */
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #201003;
    bottom: 0;
  }


  .footer_txt {
    color: #201003;
    text-decoration: none;
  }

  .footer_txt:hover {
    color: grey;
    font-size: 14.5px;
    text-decoration: none;
  }
}

/* --------------------------------------------------------------------------- */
@media all and (max-width: 1023px) {
  #content {
    /* background-color: grey; */
    border: none;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    margin-top: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #leftC {
    /* background-color: #c47e16; */
    /* padding: 10px 20px; */
    margin-right: 0px;
    /* margin-top: 20px; */
    width: 25%;
    /* width: 480px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    /* order: 2; */
  }

  #rightC {
    /* background-color: pink; */
    margin-left: 0px;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
  }

  .quote_box {
    /* background-color: green; */
    width: 75%;
    height: 90%;
    height: 120px;
    margin: 20px;
    color: #201003;
    padding-top: 12px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    font-size: 23px;
  }

  .img_jordan {
    height: 70%;
    width: 50%;
    border-radius: 10px;
    /* border: solid 3.4px #3d5f8a; */
    margin-top: 20px;
  }

  h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 50px 0 5px 0;
  }

  .chain_borders {
    font-size: 25px;
    color: grey;
    height: 70px;
  }

  /* TILES ******************************************* */
  .tile_homepage {
    border-radius: 15px;
    color: #201003;
    width: 140px;
    height: 140px;
    margin: 20px;
    padding-top: 17px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_homepage:hover {
    border-radius: 10px;
    border: solid 6px grey;
    color: grey;
    text-decoration: none;
    font-size: 25px;
  }

  .tile_dim {
    border-radius: 15px;
    border: solid 4px grey;
    color: grey;
    width: 140px;
    height: 140px;
    margin: 20px;
    padding-top: 17px;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_rightC {
    /* background-color: yellow; */
    width: 83%;
    height: 91%;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .icon_tile_title {
    font-weight: bold;
    font-size: 45px;
    padding-top: 30px;
    text-shadow: 1px 1px 2px grey;
  }

  /************************* SCROLLBAR **/
  .scroll_bar {
    width: 120%;
    height: 850px;
    padding-right: 15px;
    /* overflow: hidden; */
    overflow: auto;
  }

  .scroll_bar::-webkit-scrollbar {
    width: 7px !important;
    background-color: lightgrey;
    border-radius: 10px;

    -webkit-overflow-scrolling: Auto;
  }

  .scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5) !important;

    -webkit-border-radius: 10px !important;
    background: lightgrey !important;
  }

  .scroll_bar::-webkit-scrollbar-thumb:window-inactive {
  background: lightgrey !important;
}

  .scroll_bar::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }


  .scroll_bar_txt {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.35;
  }

  /************************* SCROLLBAR_contactbox **/
  .scroll_bar_contactbox {
    width: 110%;
    overflow: hidden;
    overflow: auto;
    font-size: 28px;
  }

  .scroll_bar_contactbox::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar_contactbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .email_txt {
    font-size: 25px;
    padding: 7px;
  }

  #emailAddress {
    width: 95%;
    font-size: 20px;
    padding: 5px;
  }

  #message {
    width: 95%;
    font-size: 20px;
    padding: 7px;
  }

  #mail_btn {
    font-size: 23px;
    padding: 7px;
    border-radius: 10px;
  }

  .google_scholar_txt {
    font-size: 29px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
  }

  .google_scholar_txt:hover {
    font-size: 29px;
    text-decoration: none;
  }

  .google_scholar {
    text-decoration: none;
  }

  #footer {
    /* margin-bottom: 7px; */
    margin-left: 28.5%;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #201003;

    bottom: 0;
  }

  #footer23 {

    margin-left: 28.5%;
    padding-top: 7em;
    padding-bottom: 1em;
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #201003;

    bottom: 0;
  }

  .footer_txt {
    color: #201003;
    text-decoration: none;
  }

  .footer_txt:hover {
    color: grey;
    font-size: 14.5px;
    text-decoration: none;
  }
}
