body {
  background-color: rgba(238, 237, 237, 1);
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 200;
  /* width: 100%; */
  /* height: 100%; */

  /* background: rgb(109,133,163);
  background: linear-gradient(311deg, rgba(109,133,163,1) 23%, rgba(238,237,237,1) 74%); */
}


/**************************************** CONTENT **/
#content {
  /* border: dotted 4px rgba(238,237,237,1); */
  /* border-image-source: linear-gradient(220deg, rgba(27,67,123,1) 55%, rgba(97,67,123,1) 70%);
  border-image-slice: 1; */
  /* background-color: rgba(27,67,123,1); */
  /* background: linear-gradient(323deg, rgba(27,67,123,1) 15%, rgba(97,67,123,1)) 73%; */
  /* background: linear-gradient(233deg, rgba(27,67,123,1) 15%, rgba(238,237,237,1) 7%, rgba(27,67,123,1) 5%, rgba(109,133,163,1)); */
  /* background-color: white; */
  background-color: rgba(238, 237, 237, 1);
  border: solid 4px #201003;
  border-radius: 23px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 150px; */
  /* padding-top: 70px; */
  width: 75%;
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-flow: wrap;
}

#background23 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ***************************************************** HEADER */
h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 1px 3px grey;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 1px 3px grey;
}

#header {
  /* padding: 10px; */
  /* margin-top: 2em; */
  /* width: 73%; */
  /* margin-top: 40px; */
  /* margin-left: 12%; */
  background-color: grey;
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* align-items: baseline; */
}

.top_bar {
  /* margin-right: -70px; */
  margin-bottom: 20px;
  width: 90%;
  text-align: center;
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  /* margin-right: -17%; */
  /* padding-left: 375px; */
  /* background-color: #3d5f8a; */
  color: #201003;
  opacity: 94%
}

/* .top_bar:hover
{
  color: #201003;
  color: #3d5f8a;
  text-decoration: none;
} */
.tile_home_icon {
  /* border-radius: 7px;
border: solid 3px rgba(238,237,237,1); */
  /* margin-top: 40px; */
  /* margin-right: 90px; */
  /* padding-top: 10px; */
  color: #2a8cbf;
  font-weight: bolder;
  /* background-color: red; */
  margin-left: 140%;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.tile_home_icon:hover {
  color: #9dacbf;
  text-decoration: none;
}

.home_txt {
  padding-left: 5px;
  font-size: 17px;
  font-weight: 600;
}

/****************************** CONTAINERS Left+Right **/
#leftC {
  /* background-color: #c47e16; */
  /* padding: 10px 20px; */
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
  width: 480px;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  /* order: 2; */
}

#rightC {
  /* background-color: red; */
  /* padding: 10px 20px; */
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
  width: 40%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* order: 1; */
}

/**************************** TILES **/
.google_scholar {
  color: #3d5f8a;
  text-decoration: none;
}

.google_scholar:hover {
  color: grey;
  text-decoration: none;
}

.tile_homepage {
  border-radius: 10px;
  border: solid 5px #201003;
  width: 180px;
  height: 140px;
  margin: 20px;
  padding-top: 17px;
  color: #201003;
  text-shadow: 1px 1px 3px grey;
  /* background-color: #3d5f8a; */
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.tile_homepage:hover {
  border-radius: 10px;
  border: solid 6.5px grey;
  color: grey;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 2px 1px rgba(238, 237, 237, 1);
}

/* .tiles
{
border-radius: 10px;
border: solid 4px rgba(238,237,237,1);
width: 180px;
height: 140px;
margin: 20px;
padding-top: 17px;
color: rgba(238,237,237,1);

font-size: 20;
text-align: center;
font-weight: bolder;

display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}

.tiles:hover
{
  border-radius: 10px;
  border: solid 4px rgba(238,237,237,1);
  color: rgba(238,237,237,1);
  text-decoration: none;
} */
.tile_dim {
  border-radius: 10px;
  border: solid 4.2px grey;
  color: grey;
  text-shadow: 1px 1px 2px grey;
  /* border-radius: 10px;
  border: solid 4px rgba(238,237,237,1);
  color: rgba(238,237,237,1); */
  width: 180px;
  height: 140px;
  margin: 20px;
  padding-top: 17px;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.tile_dim:hover {
  border-radius: 10px;
  border: solid 4px grey;
  color: grey;
  text-shadow: 1px 1px 2px grey;
  text-decoration: none;
}

/* ------------------ */
.quote_box {
  /* background-color: green; */
  width: 85%;
  /* color: #175f8d; */
  padding-right: auto;
  padding-left: auto;
  padding-top: 18px;
  text-align: center;
  font-weight: bold;
  /* background-color: #3d5f8a; */
  text-shadow: 2px 1px 3px grey;
  border-radius: 5%;
  padding: 20px;
  opacity: 85%
}

.img_jordan {
  height: 342px;
  width: 300px;
  border-radius: 10px;
  border: solid 3.2px #201003;
  /* margin-top: 30px; */
}

.tile_rightC {
  /* background-color: yellow; */
  border-radius: 10px;
  /* border: solid 4px #201003; */
  width: 92%;
  height: 91%;
  margin: 20px;
  padding: 17px;
  color: #201003;
  font-size: 17px;
  text-align: justify;
  font-weight: bolder;
  line-height: 130%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.icon_tile_title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  /* text-align: center; */
}

/************************* SCROLLBAR **/
.scroll_bar {
  width: 120%;
  padding-left: 35px;
  overflow: hidden;
  overflow: auto;
  font-size: 17px;
  font-weight: 400;
}

.scroll_bar::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(238, 237, 237, 1);
  border-radius: 10px;
}

.scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/************************* SCROLLBAR_contactbox **/
.scroll_bar_contactbox {
  width: 120%;
  padding-right: auto;
  margin-left: auto;
  overflow: hidden;
  overflow: auto;
  font-size: 17px;
  font-weight: lighter;
}

.scroll_bar_contactbox::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(238, 237, 237, 1);
  border-radius: 10px;
}

.scroll_bar_contactbox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.scroll_bar_txt {
  font-size: 17px;
  /* font-weight: bold; */
  /* display: flex; */
  /* justify-content: flex-start;
  align-items: flex-start; */
  padding-right: 25px;
  text-align: justify;
  line-height: 1.3;
}

#emailAddress {
  width: 90%;
}

#message {
  width: 90%;
}

.google_scholar_txt {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.google_scholar_txt:hover {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.google_scholar {
  /* color: #9dacbf; */
  text-decoration: none;
}

.google_scholar:hover {
  color: grey;
  text-decoration: none;
}

/* ****************** */
.tile_contact {
  width: auto;
  height: auto;
  margin: 10px;
  padding-top: 12px;
  /* color: #3d5f8a; */
  /* font-weight: bolder; */
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/***************** LINKS BOX & ICONS */
.contact_logos {
  height: 120px;
  /* background: red; */
  margin-top: 58px;
  border-bottom: solid 4px #9dacbf;
  border-top: solid 4px #9dacbf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-flow: wrap;
}

.icon-google:hover {
  color: #9dacbf;
}

.icon-linkedin:hover {
  color: #9dacbf;
}

.icon-twitter:hover {
  color: #9dacbf;
}

.icon-github-circled:hover {
  color: #9dacbf;
}

/** FOOTER **/
#footer {
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  ;
  /* padding-bottom: 55px; */
  width: 70%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #3d5f8a;
  text-decoration: none;
}

.footer_txt {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer_txt:hover {
  color: grey;
  font-size: 14.5px;
  text-decoration: none;
  /* background-color: red; */
}

.git {
  font-size: 14.5px;
}

/* .dawid_ramilowski
{
  font-size: 14px;
  font-style: normal;
}

.dawid_ramilowski:hover
{
  font-size: 14.5px;
  font-style: italic;
} */
/******************************** MediaQ */
@media (min-width: 1800px) and (max-width: 3666px) {

  /* HEADER MEDIAQ */
  /* #header
   {
     width: 100%;
     background-color: orange;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-left: 15%;
   } */
  /* .tile_home_icon
   {
     margin-left: 200%;
     color: rgba(0,0,0,0.5);
     font-weight: bolder;
     background-color: blue;
     display: flex;
     flex-direction: column;
     align-self: baseline;
   } */
  /* .tile_home_icon:hover
   {
     color: grey;
     text-decoration: none;
   } */
  /* .home_txt
   {
     padding-left: 5px;
     font-size: 17px;
     font-weight: 600;
   } */
  h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
  }

  .top_bar {
    /* background-color: grey; */
    width: 90%;
    /* justify-content: flex-end; */
    /* margin-right: 8%; */
  }

  #content {
    /* border: dotted 4px rgba(238,237,237,1); */
    /* border-image-source: linear-gradient(220deg, rgba(27,67,123,1) 55%, rgba(97,67,123,1) 70%);
     border-image-slice: 1; */
    /* background-color: rgba(27,67,123,1); */
    /* background: linear-gradient(323deg, rgba(27,67,123,1) 15%, rgba(97,67,123,1)) 73%; */
    /* background: linear-gradient(233deg, rgba(27,67,123,1) 15%, rgba(238,237,237,1) 7%, rgba(27,67,123,1) 5%, rgba(109,133,163,1)); */
    /* background-color: white; */
    background-color: rgba(238, 237, 237, 1);
    /* opacity: 95%; */
    border: solid 4px #201003;
    border-radius: 23px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 150px; */
    /* padding-top: 70px; */
    width: 55%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-flow: wrap;
  }
}

@media (min-width: 1024px) and (max-width: 1320px) {

  /* HEADER MEDIAQ */
  /* #header
   {
     width: 100%;
     background-color: orange;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-left: 15%;
   } */
  /* .tile_home_icon
   {
     margin-left: -144%;
     color: #3d5f8a;
     font-weight: bolder;
     background-color: red;
     display: flex;
     flex-direction: column;
     align-self: baseline;
   } */
  /* .tile_home_icon:hover
   {
     color: #9dacbf;
     text-decoration: none;
   }

   .home_txt
   {
     padding-left: 5px;
     font-size: 17px;
     font-weight: 600;
   } */
  h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }

  /* .top_bar
   {
     background-color: grey;
     width: 80%;
     justify-content: flex-end;
     margin-right: -11%;
   } */
  #content {
    /* border: dotted 4px rgba(238,237,237,1); */
    /* border-image-source: linear-gradient(220deg, rgba(27,67,123,1) 55%, rgba(97,67,123,1) 70%);
     border-image-slice: 1; */
    /* background-color: rgba(27,67,123,1); */
    /* background: linear-gradient(323deg, rgba(27,67,123,1) 15%, rgba(97,67,123,1)) 73%; */
    /* background: linear-gradient(233deg, rgba(27,67,123,1) 15%, rgba(238,237,237,1) 7%, rgba(27,67,123,1) 5%, rgba(109,133,163,1)); */
    /* background-color: rgba(109,133,163,1); */
    background-color: rgba(238, 237, 237, 1);
    /* opacity: 95%; */
    border: solid 4px #201003;
    border-radius: 23px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 150px; */
    /* padding-top: 70px; */
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-flow: wrap;
  }
}

/* --------------------------------------------------------------------------- */
@media all and (max-width: 1023px) {

  #content {
    background-color: rgba(238, 237, 237, 1);
    border: none;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    margin-top: -10px;
    width: 100%;
    /* display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap; */
  }

  #leftC {
    /* background-color: #c47e16; */
    /* padding: 10px 20px; */
    margin-right: 0px;
    /* margin-top: 20px; */
    width: 18%;
    /* width: 480px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    /* order: 2; */
  }

  #rightC {
    /* background-color: pink; */
    /* padding: 10px 20px; */
    /* padding-top: 50px; */
    margin-left: 0px;
    /* margin-bottom: 50px; */
    margin-top: 75px;
    width: 82%;
    height: 100%;
    /* width: 480px;
   height: 570px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* order: 1; */
    align-self: baseline;
  }

  .quote_box {
    /* background-color: green; */
    width: 75%;
    height: 90%;
    height: 120px;
    margin: 20px;
    color: #201003;
    padding-top: 12px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    font-size: 23px;
  }

  .img_jordan {
    height: 70%;
    width: 50%;
    border-radius: 10px;
    /* border: solid 3.4px #3d5f8a; */
    margin-top: 20px;
  }


  /* .tile_home_icon {
    margin-left: -144%;
    color: #201003;
    font-weight: bolder;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-self: baseline;
  } */

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 5px 0;
  }

  /* TILES ******************************************* */
  .tile_homepage {
    border-radius: 15px;
    color: #201003;
    width: 120px;
    height: 120px;
    margin: 20px;
    padding-top: 17px;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .tile_homepage:hover {
    border-radius: 10px;
    border: solid 6px grey;
    color: grey;
    text-decoration: none;
    font-size: 20px;
  }

  .tile_dim {
    border-radius: 15px;
    border: solid 4px grey;
    color: grey;
    /* border-radius: 10px;
   border: solid 4px rgba(238,237,237,1);
   color: rgba(238,237,237,1); */
    width: 120px;
    height: 120px;
    margin: 20px;
    padding-top: 17px;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }



  .tile_rightC {
    /* background-color: yellow; */
    /* border: solid 4px #3d5f8a; */
    width: 83%;
    height: 91%;
    margin: 20px;
    padding-bottom: 70px;
    /* color: #3d5f8a; */
    /* font-size: 27px; */
    text-align: justify;
    /* font-weight: bold; */
    line-height: 135%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .icon_tile_title
{
  font-weight: bold;
  font-size: 30px;
  padding-top: 15px;
  text-shadow: 1px 1px 2px grey;

}

  /************************* SCROLLBAR **/
  .scroll_bar {
    width: 110%;
    height: 750px;
    padding-right: 15px;
    overflow: hidden;
    overflow: auto;
  }

  .scroll_bar::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .scroll_bar_txt {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.3;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* padding-right: 30px; */
  }

  /************************* SCROLLBAR_contactbox **/
  .scroll_bar_contactbox {
    width: 90%;
    overflow: hidden;
    overflow: auto;
    font-size: 19px;
    /* font-weight: lighter; */
    /* display: flex; */
    /* justify-content: center; */
  }

  .scroll_bar_contactbox::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(238, 237, 237, 1);
    border-radius: 10px;
  }

  .scroll_bar_contactbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  #emailAddress {
    width: 90%;
  }

  #message {
    width: 90%;
  }

  .google_scholar_txt {
    font-size: 23px;
    text-decoration: none;
  }

  .google_scholar_txt:hover {
    font-size: 22px;
    text-decoration: none;
  }

  .google_scholar {
    /* color: #9dacbf; */
    text-decoration: none;
  }

  .google_scholar:hover {
    color: grey;
  }

  #footer {
    margin-bottom: 7px;
    margin-left: 24%;
    /* margin-right: 30%; */
    padding-top: 1em;
    padding-bottom: 1em;
    ;
    /* padding-bottom: 55px; */
    width: 70%;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #201003;
  }

  .footer_txt {
    color: #201003;
    text-decoration: none;
  }

  .footer_txt:hover {
    color: grey;
    font-size: 14.5px;
    text-decoration: none;
  }
}
